@import "tailwindcss";


body{
margin:0;
font-family:Inter,system-ui,sans-serif;
background:#09090B;
}

.input{

width:100%;
background:#09090B;
padding:15px;
border-radius:12px;
margin-top:15px;
color:white;

}